<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kr.co.rtst.autosar.ap4x.editor.editors.aaswc.AASWCEditor"
            contributorClass="kr.co.rtst.autosar.ap4x.editor.editors.aaswc.AASWCEditorContributor"
            default="true"
            extensions="Identifiable"
            icon="icons/sample.png"
            id="kr.co.rtst.autosar.ap45.editor.editors.aaswc.AASWCEditor"
            name="Adaptive Application SWC Type Editor">
         <contentTypeBinding
               contentTypeId="kr.co.rtst.autosar.ap4x.core.contenttype.aaswcFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="kr.co.rtst.autosar.ap45.editor.aaswc.wizards.AASWCNewWizard"
            name="Adaptive Application SWC Type file"
            icon="icons/sample.png"
            class="kr.co.rtst.autosar.ap4x.editor.aaswc.wizards.AASWCNewWizard"
            category="kr.co.rtst.autosar.ap4x.ide.wizards.category">
      </wizard>
   </extension>

</plugin>
